
#header #blog-title {
	margin: 35px 0 0 20px;
}

#searchform {
	margin: 66px -65px 0 0;
}

blockquote {
	margin: 0 0 10px 50px;
	
}

#comments ol li .comment-data {
	height: 120px;
}

#comments ol li.alt .comment-data {
	_height: 120px;
}

.rss-icon {
	margin-left: 20px;
}
