/* rotator in-page placement */
    div.rotator {
	position:relative;
}

#banner {
	position:relative;
	margin-top: 117px;
	z-index: -500;
}

.bannerimg {
	margin:0;
	padding:0;
	position:absolute;
	width:960px;
	height:180px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 40px;
    box-shadow: 0 0 4px #bcbcbc, 0px 0px 10px #dedede;
}

