#partner_block {
	box-shadow: 0px 0px 4px #dcdcdc;
        border-radius: 5px;
        background: #fff;
        padding-left: 11px;
}
#partner_block #partnerlogos {
	width: 100%;	                
}

#partner_widget {
	width: 240px !important;
	overflow:hidden;
	margin-top: 1em;
	padding:0 20px 0 20px;
}

#partner_widget #partnerlogos {
	margin: 0;
	padding: 0;
}

#partnerlogos.scroll {
	margin: 2em 0 0 0;
	padding:0 1em 0 1em;	
	height: 30em;	
}


#partnerlogos.scroll .logo {
	float:left;
	color: #5d89c5;
}
#partnerlogos.scroll p {
	text-align:center;
	width: 75px;
	padding: 1em 1em 0 1em;
	font: 80%;	
	font-weight: bold;	
}
#partnerlogos.scroll p.img {
	min-height: 75px;
        position: relative;
        overflow:visible;
}
#partnerlogos.scroll p.img img{
    position: absolute;
    bottom:0;
    left: 1em;
    margin: 0 auto;    
}

#partnerlogos.noscroll {
    margin: 0px auto;
}
#partnerlogos.noscroll li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0.3em 1.2em;
    padding: 0em 1em;    
    width: 75px;
    list-style: none;
    
}


