#partner_block {
	width: 100%;
}
#partner_block #partnerlogos {
	width: 100%;	
}

#partner_widget {
	width: 240px !important;
	overflow:hidden;
	margin-top: 1em;
	padding:0 20px 0 20px;
}

#partner_widget #partnerlogos {
	margin: 0;
	padding: 0;
}

#partnerlogos {
	margin: 2em 0 0 0;
	padding:0 1em 0 1em;	
	height: 30em;	
}


#partnerlogos .logo {
	float:left;
	color: #5d89c5;
}
#partnerlogos p {
	text-align:center;
	width: 100px;
	padding: 1em 1em 0 1em;
	font: 80%;	
	font-weight: bold;	
}
#partnerlogos p.img {
	min-height: 100px;
}


