#wpcontent select option {
	padding-right: 5px;
}
#tyler-layouts td {
	padding-top: 15px;
}
#tyler-layouts label {
	display: block;
	float: left;
	margin: 0 20px 20px 2px;
	position: relative;
}
#tyler-layouts input {
	margin: 0 0 10px;
}
#tyler-layouts span {
	display: block;
	width: 136px;
}
#tyler-layouts img {
	margin: 0 0 0 -2px;
}