@charset "UTF-8";
a, .fan_box .connect_action a, .fan_box .connections_grid .grid_item .name {color:#666 !important;}
.fan_box .full_widget, .fan_box .full_widget .connect_top, .fbConnectWidgetTopmost,.fan_box .full_widget .connect_top {background:none; border:none; color:#aaa; margin-left: 10px}
.fan_box .connect_top {padding:10px 0 0 10px; margin-left: 10px}
.fan_box .connect_widget .connect_widget_text a {font-weight:bold;}
.fan_box .connections {border:none !important; min-height:150px; padding:10px 0 4px 20px; }
.fan_box .connections_grid .grid_item {padding:0 2px 8px 0;}
div.fan_box, div.connections, span.connect_widget_text, div.connect_text_wrapper { color: #555 !important; }

